/* upper */
.upper{
    height: calc(100vh - 100px);
    background-color: black;
}

/* aside */
.aside{
    width: 200px;
    overflow: auto;
}

/* menu */
.menu img{
    height: 30px;
}
.menu div:hover{
    color: white;
    cursor: pointer;
    border-left: 2px solid hsl(84deg 100% 59%);
}
.menu div h4:hover {
    color: white;
}
/* playlist */
.playlist{
    min-height: 250px;
    overflow: auto;
}
.playlist h3{
    color: white;
}
.playlist .fa-solid{
    font-size: 40px;
    color: gray;
}
.playlist li :hover {
    color: white;
    cursor: pointer;
}
/* installa app */
.installa-app{
    margin-top: auto;
}
.download img{
    height: 20px;
}
.download :hover{
    color: white;
    cursor: pointer;
}
.user img {
    width: 30px;
    background-color: gray;
    border-radius: 50%;
    transition: 1s;
}
.user img:hover {
    background-color: lightgreen;
    cursor: pointer;
    transform: scale(1.2);
}
/* content */
.content{
    width: calc(100% - 200px);
}
/* header */
header{
    background-color: hsl(222deg 38% 5%);
    height: 70px;
    position: fixed;
    width: calc(100% - 220px);
    opacity: 0.8;
    z-index: 5;
}
header a{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    font-size: 12px;
    padding: 5px 30px;
    transition: 0.2s;
}
header a:hover{
    transform: scale(1.2);
    transform-origin: right;
}
/* main */
main{
    background-color: hsl(219deg 26% 11%);
    height: calc(100vh - 100px);
    overflow: auto;
    padding: 70px 15px 15px 15px;
}
/* nav */
nav ul{
    flex-wrap: wrap;
    gap: 0 20px;
}
nav a{
    text-decoration: none;
    color: gray;
    font-size: 12px;
    padding-bottom: 10px;
}
nav a:hover{
    color: white;
    border-bottom: 2px solid hsl(84deg 100% 59%);
}
/* row */
.box-img{
    position: relative;
}
.box>*{
    text-align: center;
    padding-bottom: 5px;
}
#play {
    color: white;
    position: absolute;
    font-size: 40px;
    top: 40%;
    right: 40%;
    display: none;
}
.box-img>img:hover{
    filter: contrast(200%) grayscale(50%);
    cursor: pointer;
}
.box-img>img:hover + #play {
    display: block;
}
.row:last-child img{
    border-radius: 50%;
}
/* footer */
footer{
    height: 100px;
    background-color: hsl(0deg 0% 16%);
}
footer img{
    height: 50px;
}
/* foot left */
.foot-left{
    gap: 10px;
}
.foot-left h4{
    color: white;
}
.foot-left h5 {
    color: gray;
    font-size: 10px;
    padding-top: 5px;
}
.foot-left .fa-regular{
    color: gray;
}
.foot-left h5:hover {
    color: white;
    cursor: pointer;
}

.foot-left .fa-regular:hover {
    color: white;
    cursor: pointer;
}
/* foot centre */
.foot-center i{
    color: white;
    font-size: 20px;
    padding: 0 15px;
}
.foot-center .fa-regular{
    font-size: 30px;
}
.foot-center i:hover {
    color: hsl(84deg 100% 59%);
    cursor: pointer;
}
.foot-center .fa-regular:hover {
    transform: scale(1.1);
}
/* barra */
.barra{
    width: 400px;
    background-color: gray;
}
.time{
    padding: 0 15px;
}
.time{
    color: white;
    font-size: 12px;
}
.bar1{
    width: 30%;
    background-color: lightgray;
    display: block;
    position: relative;
}
.bar1, .barra{
    border-radius: 5px;
    height: 4px;
}
.bar1::after{
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    display: none;
    position: absolute;
    top: -5px;
    right: -5px;
}
.barra:hover .bar1{
    background-color: hsl(84deg 100% 59%);
    cursor: pointer;
}
.barra:hover .bar1::after {
    display: block;
}
.barra:hover{
    cursor: pointer;
}
/* foot-right */
.foot-right .fa-solid{
    color: white;
}
.foot-right .fa-solid:hover {
    color: hsl(84deg 100% 59%);
    cursor: pointer;
}
/* barra-sound */
.barra-sound {
    position: relative;
    width: 150px;
    background-color: gray;
}
.bar1-sound {
    width: 30%;
    background-color: lightgray;
    position: relative;
}

.bar1-sound,
.barra-sound {
    border-radius: 5px;
    height: 4px;
}

.bar1-sound::after {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    display: none;
    position: absolute;
    top: -4px;
    right: -4px;
}

.barra-sound:hover .bar1-sound {
    background-color: hsl(84deg 100% 59%);
    cursor: pointer;
}

.barra-sound:hover .bar1-sound::after {
    display: block;
}

.barra-sound:hover {
    cursor: pointer;
}

/****** MEDIA QUERY *******/
/* LARGE DEVICES - lg */

@media screen and (max-width: 992px) {
    .barra{
        width: 300px;
    }
    .row{
        flex-wrap: nowrap;
        overflow: auto;
    }
}

/* MEDIUM DEVICES - md */

@media screen and (max-width: 768px) {

    .barra {
        width: 200px;
    }
}

/* SMALL DEVICES - sm */

@media screen and (max-width: 600px) {
    .aside{
        width: 50px;
    }
    .content{
        width: calc(100% - 50px);
    }
    header{
        width: calc(100% - 70px);
    }
    .logo img:last-child {
        height: 30px;
        color: white;
    }
    .barra {
        width: 100px;
    }
}

/* SHORT DEVICES */

@media screen and (max-height: 350px) {
    .content header{
        display: none;
    }
}
