/* upper */
.upper{
    height: calc(100vh - 100px);
    background-color: black;
}

/* aside */
.aside{
    width: 200px;
    overflow: auto;
}
.aside img:last-child{
    display: none;
}
/* menu */
.menu img{
    height: 30px;
}
.menu div:hover{
    color: white;
    cursor: pointer;
    border-left: 2px solid hsl(84deg 100% 59%);
}
.menu div h4:hover {
    color: white;
}
/* playlist */
.playlist h3{
    color: white;
}
.playlist .fa-solid{
    font-size: 40px;
    color: gray;
}
.playlist li :hover {
    color: white;
    cursor: pointer;
}
/* installa app */
.installa-app{
    margin-top: auto;
}
.download img{
    height: 20px;
}
.download :hover{
    color: white;
    cursor: pointer;
}
.user img {
    height: 30px;
    background-color: gray;
    border-radius: 50%;
}
/* content */
.content{
    width: calc(100% - 200px);
}
/* header */
header{
    background-color: hsl(222deg 38% 5%);
    height: 70px;
    position: fixed;
    width: calc(100% - 200px);
    opacity: 0.8;
    z-index: 5;
}
header a{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    font-size: 12px;
    padding: 5px 30px;
}
header a:hover{
    transform: scale(1.2);
}
/* main */
main{
    background-color: hsl(219deg 26% 11%);
    height: calc(100vh - 100px);
    overflow: auto;
    padding: 70px 15px 15px 15px;
}
/* nav */
nav ul{
    flex-wrap: wrap;
    gap: 0 20px;
}
nav a{
    text-decoration: none;
    color: gray;
    font-size: 12px;
    padding-bottom: 10px;
}
nav a:hover{
    color: white;
    border-bottom: 2px solid hsl(84deg 100% 59%);
}
/* row */
.box-img{
    position: relative;
}
.box>*{
    text-align: center;
    padding-bottom: 5px;
}
#play {
    color: white;
    position: absolute;
    font-size: 40px;
    top: 40%;
    right: 40%;
    display: none;
}
.box-img>img:hover{
    filter: contrast(200%) grayscale(50%);
}
.box-img>img:hover + #play {
    display: block;
}
.row:last-child img{
    border-radius: 50%;
}
/* footer */
footer{
    height: 100px;
    background-color: hsl(0deg 0% 16%);
}
footer img{
    height: 50px;
}
/* foot left */
.foot-left{
    gap: 10px;
}
.foot-left h4{
    color: white;
}
.foot-left h5 {
    color: gray;
    font-size: 10px;
    padding-top: 5px;
}
.foot-left .fa-regular{
    color: gray;
}
.foot-left h5:hover {
    color: white;
    cursor: pointer;
}

.foot-left .fa-regular:hover {
    color: white;
    cursor: pointer;
}
/* foot centre */
.foot-center i{
    color: white;
    font-size: 20px;
    padding: 0 15px;
}
.foot-center .fa-regular{
    font-size: 30px;
}
.foot-center i:hover {
    color: hsl(84deg 100% 59%);
    cursor: pointer;
}
.foot-center .fa-regular:hover {
    transform: scale(1.1);
}
/* barra */
.barra{
    position: relative;
    width: 400px;
    background-color: gray;
}
.time{
    padding: 0 15px;
}
.time{
    color: white;
    font-size: 12px;
}
.bar1{
    width: 150px;
    background-color: lightgray;
}
.bar1, .barra{
    border-radius: 5px;
    height: 4px;
}
.bar1::after{
    content: " ";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    display: none;
    position: absolute;
}
.barra:hover .bar1{
    background-color: hsl(84deg 100% 59%);
    cursor: pointer;
}
.barra:hover .bar1::after {
    display: block;
}
.barra:hover{
    cursor: pointer;
}
/* foot-right */
.foot-right .fa-solid{
    color: white;
}
.foot-right .fa-solid:hover {
    color: hsl(84deg 100% 59%);
    cursor: pointer;
}
/* barra-sound */
.barra-sound {
    position: relative;
    width: 150px;
    background-color: gray;
}
.bar1-sound {
    width: 50px;
    background-color: lightgray;
}

.bar1-sound,
.barra-sound {
    border-radius: 5px;
    height: 4px;
}

.bar1-sound::after {
    content: " ";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    display: none;
    position: absolute;
}

.barra-sound:hover .bar1-sound {
    background-color: hsl(84deg 100% 59%);
    cursor: pointer;
}

.barra-sound:hover .bar1-sound::after {
    display: block;
}

.barra-sound:hover {
    cursor: pointer;
}

/****** MEDIA QUERY *******/
/* LARGE DEVICES - lg */

@media screen and (max-width: 992px) {
    .barra{
        width: 300px;
    }
    .bar1{
        width: 110px;
    }
}

/* MEDIUM DEVICES - md */

@media screen and (max-width: 768px) {

    .barra {
        width: 200px;
    }
    
    .bar1 {
        width: 70px;
    }
}

/* SMALL DEVICES - sm */

@media screen and (max-width: 600px) {
    .aside img:last-child {
        display: block;
        height: 30px;
    }
    .aside img:first-child {
        display: none;
    }
}

/* SMALL DEVICES - xs */

@media screen and (max-width: 480px) {

    /* DISPLAYS */

    .d-flex-xs {
        display: flex;
    }

    .d-block-xs {
        display: block;
    }

    .d-inline-block-xs {
        display: inline-block;
    }

    .d-inline-xs {
        display: inline;
    }

    .d-none-xs {
        display: none;
    }

    .col-xs-1 {
        flex-basis: calc((100% / 12) * 1);
        max-width: calc((100% / 12) * 1);
    }

    .col-xs-2 {
        flex-basis: calc((100% / 12) * 2);
        max-width: calc((100% / 12) * 2);
    }

    .col-xs-3 {
        flex-basis: calc((100% / 12) * 3);
        max-width: calc((100% / 12) * 3);
    }

    .col-xs-4 {
        flex-basis: calc((100% / 12) * 4);
        max-width: calc((100% / 12) * 4);
    }

    .col-xs-5 {
        flex-basis: calc((100% / 12) * 5);
        max-width: calc((100% / 12) * 5);
    }

    .col-xs-6 {
        flex-basis: calc((100% / 12) * 6);
        max-width: calc((100% / 12) * 6);
    }

    .col-xs-7 {
        flex-basis: calc((100% / 12) * 7);
        max-width: calc((100% / 12) * 7);
    }

    .col-xs-8 {
        flex-basis: calc((100% / 12) * 8);
        max-width: calc((100% / 12) * 8);
    }

    .col-xs-9 {
        flex-basis: calc((100% / 12) * 9);
        max-width: calc((100% / 12) * 9);
    }

    .col-xs-10 {
        flex-basis: calc((100% / 12) * 10);
        max-width: calc((100% / 12) * 10);
    }

    .col-xs-11 {
        flex-basis: calc((100% / 12) * 11);
        max-width: calc((100% / 12) * 11);
    }

    .col-xs-12 {
        flex-basis: calc((100% / 12) * 12);
        max-width: calc((100% / 12) * 12);
    }

    /* OFFSET */

    .col-xs-offset-0 {
        margin-left: 0;
    }

    .col-xs-offset-1 {
        margin-left: calc((100% / 12) * 1);
    }

    .col-xs-offset-2 {
        margin-left: calc((100% / 12) * 2);
    }

    .col-xs-offset-3 {
        margin-left: calc((100% / 12) * 3);
    }

    .col-xs-offset-4 {
        margin-left: calc((100% / 12) * 4);
    }

    .col-xs-offset-5 {
        margin-left: calc((100% / 12) * 5);
    }

    .col-xs-offset-6 {
        margin-left: calc((100% / 12) * 6);
    }

    .col-xs-offset-7 {
        margin-left: calc((100% / 12) * 7);
    }

    .col-xs-offset-8 {
        margin-left: calc((100% / 12) * 8);
    }

    .col-xs-offset-9 {
        margin-left: calc((100% / 12) * 9);
    }

    .col-xs-offset-10 {
        margin-left: calc((100% / 12) * 10);
    }

    .col-xs-offset-11 {
        margin-left: calc((100% / 12) * 11);
    }

    .col-xs-offset-12 {
        margin-left: calc((100% / 12) * 12);
    }
}